#hero{
    overflow: hidden;
    position: relative;
}

#hero .info-container{
    display: grid;
    grid-template-columns: auto 500px;
    gap: 20px;
    min-height: 100vh;
}

#hero .info-container .column:nth-child(1){
    padding-top: 70px;
}

#hero .heading-1,
#hero .sub-title{
    text-align: left;
}

#hero .wrapper .buttons-wrapper{
    justify-content: flex-start;
    margin-top: 40px;
}

#hero .achievement-cluster{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
}

#hero .achievement-cluster .wrapper{
    padding: 10px 20px;
}

/* Responsive code */
@media (max-width: 1050px){
    #hero .info-container *{
        text-align: center;
    }

    #hero .info-container{
        grid-template-columns: 100%;
    }

    #hero .info-container .buttons-wrapper{
        justify-content: center;
    }
}