.navbar{
    padding: 10px 20px;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: .5px solid var(--border-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background: var(--bg-primary);
}

.navbar .tabs-group .tab{
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--muted-foreground);
    transition: var(--transition);
    cursor: pointer;
    border: solid .5px transparent;
}

.navbar .tabs-group .tab:hover{
    color: var(--foreground);
}

.navbar .tabs-group .tab.active{
    color: var(--foreground);
    background: var(--bg-accent);
    border-color: var(--border-primary);
}

.navbar .button{
    gap: 20px;
}

.navbar .menu-btn,
.navbar .cancel-btn{
    display: none;
}

.navbar .cancel-btn{
    position: absolute;
    top: 15px;
    right: 20px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.5);
    z-index: 110;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

/* Responsive Code */
@media (max-width: 1210px) {
    .navbar .handles-container{
        display: none;
    }
}

@media (max-width: 1050px) {
    .navbar .services-btn{
        display: none;
    }
}

@media (max-width: 1210px) and (min-width: 931px) {
    .navbar .menu-btn,
    .navbar .cancel-btn {
        display: none !important;
    }
}

@media (max-width: 930px) {
    .navbar .sidebar {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        max-width: 320px;
        min-height: 100vh;
        z-index: 150;
        background: var(--bg-primary);
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        padding: 20px;
        padding-top: 50px;
        transition: var(--transition);
    }

    .navbar .sidebar.visible {
        left: 0;
    }

    .navbar .menu-btn,
    .navbar .cancel-btn {
        display: flex;
    }
}

@media (max-width: 400px) {
    .navbar .contact-btn {
        display: none;
    }
}
