#footer{
    background: var(--bg-accent);
}

#footer .wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

#footer .handles-container{
    margin-top: 30px;
}

#footer .route{
    display: block;
    margin: 10px 0;
    cursor: pointer;
    transition: var(--transition);
}

#footer .route:hover{
    color: var(--primary);
}


#footer .copyright{
    flex-direction: column;
    padding: 0 20px 50px 20px;
    text-align: center;
}

/* Responsive code */
@media (max-width: 800px){
    #footer .wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

@media (max-width: 500px){
    #footer .wrapper{
        grid-template-columns: 100%;
    }

    #footer .logo,
    #footer .handles-container{
    justify-content: center;}
    }
    
    #footer .title,
    #footer .route{
        text-align: center;
    }
}
